[submodule ".themes/blanket"]
	path = .themes/blanket
	url = git://github.com:octopress-themes/blanket.git
[submodule ".themes/forest"]
	path = .themes/forest
	url = git://github.com/octopress-themes/forest.git
